version: '2'

services:
   db:
     image: mysql:5.7
     container_name: mysqlnofraud
     environment:
       MYSQL_ROOT_PASSWORD: magento
       MYSQL_DATABASE: bitnami_magento
       MYSQL_USER: bn_magento
       MYSQL_PASSWORD: 248582739b

   magento:
     links:
       - nofraud
     depends_on:
       - db
     build:
          context: .
          dockerfile: Dockerfile-magento
     container_name: magentonofraud
     ports:
       - "8000:80"
     environment:
       MAGENTO_DB_HOST: db:3306
       MAGENTO_DB_PASSWORD: 248582739b

   nofraud:
    build:
          context: .
          dockerfile: Dockerfile-nofraud
    container_name: nofraudnode
    ports:
        - "9000:80"
        - "9443:443"
